!!! 5
%html
  %head
    %title STARPEACE
    %meta{charset: 'utf-8'}
    %meta{viewport: 'width=device-width, initial-scale=1, shrink-to-fit=no'}

    %link{rel: 'shortcut icon', type: 'image/x-icon', href: '/assets/favicon.ico'}
    %link{rel: 'icon', type: 'image/x-icon', href: '/assets/favicon.ico'}

    %link{rel: 'stylesheet', href: 'https://fonts.googleapis.com/css?family=Open+Sans|Varela+Round|Open+Sans+Condensed:300'}
    %link{rel: 'stylesheet', type: 'text/css', href: 'https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.0/css/bootstrap.min.css'}
    %link{rel: 'stylesheet', type: 'text/css', href: '/assets/website-main.min.css'}

    %script{type: 'text/javascript', src: 'https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'}
    %script{type: 'text/javascript', src: 'https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js'}
    %script{type: 'text/javascript', src: 'https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.0/js/bootstrap.min.js'}
    %script{type: 'text/javascript', src: 'https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js'}

    %script{crossorigin: 'anonymous', defer, src: 'https://use.fontawesome.com/releases/v5.0.10/js/solid.js'}
    %script{crossorigin: 'anonymous', defer, src: 'https://use.fontawesome.com/releases/v5.0.10/js/regular.js'}
    %script{crossorigin: 'anonymous', defer, src: 'https://use.fontawesome.com/releases/v5.0.10/js/fontawesome.js'}

    %script{async, src: 'https://www.googletagmanager.com/gtag/js?id=UA-120729341-1'}

    %script{type: 'text/javascript', src: '/assets/website-main.min.js'}


  %body
    %section#prime-container
      %a.documentation{href: 'https://docs.starpeace.io'} Documentation
      %a.login-header{href: 'https://client.starpeace.io/login.html'} Sign In
      %a.github{href: 'https://github.com/ronappleton/starpeace-website'}
        %img{src: '/assets/github.png'}
      %a.community{href: 'https://starpeaceproject.com/'} Community

      .content.container-fluid
        .row
          .col-10.col-lg-8.offset-1.offset-lg-2
            .content-banner
              %h1 STAR
              %img{src: '/assets/logo.png'}
              %h1 PEACE

            .card.bg-dark
              #prime-carousel.carousel.slide{data-ride: 'carousel'}
                .carousel-inner
                  .carousel-item.active
                    %img.d-block.w-100{src: '/assets/demo1.gif'}

            %h2 Tycoon Supremency through Capitalistic Cooperation and Competition

            .actions
              %a.btn.btn-primary.btn-lg.demo{href: 'https://client.starpeace.io/', role: 'button'} Play Now
              %a.btn.btn-secondary.btn-lg.login{href: 'https://client.starpeace.io/login.html', role: 'button'} Sign In

    .container-fluid
      .row
        .col-10.col-lg-6.offset-1.offset-lg-3
          #primary-transition-container
            %h2 Master the Economy, Build your Destiny
            %h3 Get started today! Play directly in your browser using latest HTML5 and WebGL technologies, supported with a modern service-oriented architecture

          #details-container.card
            .card-body
              .row.align-items-center
                .col-8
                  %h3 Massively multi-player persistent world
                  .feature
                    Choose business acquisitions wisely as you build retail chains, real estate ventures, heavy industry or even farming while competing against hundreds of other players worldwide
                .col-4
                  .feature-img-placeholder

              .row.align-items-center
                .col-4
                  .feature-img-placeholder
                .col-8
                  %h3 Realistic simulation of city, planetary, and inter-planetary economics
                  Set up supply chains of warehouses refineries, and factories or trade with other players at negotiated rates for in-demand resources across cities, countries and even planets

              .row.align-items-center
                .col-8
                  %h3 Choose from a handful of different Seals
                  A Seal is a collection of technologies and patent designs that provides companies with certain strengths and weaknesses, access to different industries and resources, and a distinct building look
                .col-4
                  .feature-img-placeholder

              .row.align-items-center
                .col-4
                  .feature-img-placeholder
                .col-8
                  %h3 Micro-manage company policy, prices, and strategy
                  Intuitive interface provides complete control of company and building strategy, as well as ability to view and interact other tycoons' company portfolios and business ventures

              .row.align-items-center
                .col-8
                  %h3 Familiar city-building gameplay mechanics
                  Overlay maps gives players the ability to highlight the high crime areas, low, middle, upper class residential populations, pollution, and location coverage of specific types of buildings
                .col-4
                  .feature-img-placeholder

    #footer-container.container-fluid
      .row
        .col
          %a{href: 'https://docs.starpeace.io'} Documentation
        .col
          %a{href: '/privacy.html'} Privacy
        .col
          %a{href: 'https://github.com/ronappleton/starpeace-website'} GitHub

      .row.copyright
        .col
          Copyright &copy; 2018
